@import './base/normalize';
@import './utils';

:root {
  --base-font-size: 1rem;
  --color-white: #ffffff;
  --color-black: #000;
  --color-emptiness: #fbfcfc;
  --color-azure: #0381ff08;
  --color-squant: #666666;
  --color-brescian-blue: #0381ff;
  --color-liberty-blue: #0b172a;
  --color-void: #0b122a;
  --color-indigo: #00000029;

  --radius-round: 100vmax;

  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-5: 5;

  --features-padding-desktop: #{pxToRem(130px)};
  --features-padding-mobile: #{pxToRem(56px)};
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
