@use '../../styles/utils/mixins';

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureContainer {
  margin-right: 0;
  margin-top: 28px;
  order: 2;
}

.featureContent {
  text-align: center;
  width: 22.5rem;
}

.featureSubtitle {
  color: var(--color-brescian-blue);
  font-weight: 800;
  margin-bottom: 16px;
  letter-spacing: 2px;
  font-size: var(--base-font-size);
  text-transform: uppercase;
}

.featureTitle {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: calc(var(--base-font-size) * 2);
  color: var(--color-void);
}

.featureDescription {
  font-size: 0.875rem;
  letter-spacing: 0.8px;
  color: var(--color-liberty-blue);
  margin-bottom: 32px;
  line-height: 28px;
}

@include mixins.breakpoint('d-xs') {
  .feature {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: center;
  }

  .featureContent {
    text-align: right;
    order: 2;
    width: 20rem;
  }

  .featureDescription {
    font-size: 0.875rem;
  }

  .featureContainer {
    margin-top: 28px;
  }
}

@include mixins.breakpoint('d-sm') {
  .featureContent {
    width: 25rem;
  }

  .featureDescription {
    line-height: 32px;
    font-size: 1.25rem;
  }
}

@include mixins.breakpoint('d-md') {
  .featureContent {
    width: 35rem;
  }
}

@include mixins.breakpoint('p-xs', 'max-width') {
  .featureContent {
    width: 100%;
  }
}
