.signFrameContainer {
  position: relative;
}

.signFrame {
  pointer-events: none;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.signFrameVendor1 {
  position: absolute;
  left: -62px;
  top: 52%;
  width: 140px;
  z-index: var(--z-index-1);
}

.signFrameVendor2 {
  z-index: var(--z-index-1);
  position: absolute;
  left: 155px;
  top: 30%;
  width: 140px;
}

.signFrameImg {
  width: 240px;
}

@media (min-width: 1024px) {
  .signFrameImg {
    width: 100%;
  }
  .signFrameVendor1 {
    left: -26%;
    width: 216px;
  }
  .signFrameVendor2 {
    left: 65%;
    top: 33%;
    width: 216px;
  }
}
