@import '../../styles/utils/mixins';

.exportFrameContainer {
  position: relative;
}

.exportFrame {
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.exportArrowImg,
.exportFileContainer {
  position: absolute;
}

.exportArrowImg {
  left: -10%;
  top: 86%;
  scale: 0.6;
}

.exportFileContainer {
  top: 56%;
  display: flex;
  align-items: center;
  left: -9%;
  overflow: hidden;
}

.exportFileImg {
  width: 100px;
  &:not(.exportFileImg:last-child) {
    margin-right: -2.5%;
  }
}

.exportFrameImg {
  width: 237px;
}

.exportJpgImg {
  padding-bottom: 12%;
  margin-left: -2.5%;
  scale: 0.85;
}

@include breakpoint('d-sm') {
  .exportFileContainer {
    top: 56%;
    left: -7%;
  }
  .exportFrameImg {
    width: 100%;
  }

  .exportFileImg {
    width: 150px;
  }

  .exportJpgImg {
    padding-bottom: 12%;
  }

  .exportArrowImg {
    width: 35px;
  }
}
