@use '../../styles/utils/mixins';

.featureScanContainer {
  overflow: hidden;
}

.scanImg {
  width: 230px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

@include mixins.breakpoint('d-sm') {
  .scanImg {
    width: 100%;
    height: 100%;
  }
}
