@use '../../styles/utils/mixins';

.filtersFrameContainer {
  position: relative;
}

.filtersFrame {
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.filtersFrameVendor1,
.filtersFrameVendor2 {
  position: absolute;
  top: 23%;
  width: 1.7rem;
}

.filtersFrameVendor1 {
  left: -7.5%;
}

.filtersFrameVendor2 {
  right: -7.5%;
}

.filtersFrameImg {
  width: 244px;
}

@include mixins.breakpoint('d-sm') {
  .filtersFrameVendor1,
  .filtersFrameVendor2 {
    width: 42px;
  }
  .filtersFrameImg {
    width: 100%;
  }
}
