.batchFrame {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.batchFrameFile {
  position: absolute;
  // this is necessary to override gsap's value
  transform: translate(-50%, -50%) !important;
  left: 50%;
  margin-top: 25%;
}

@media (max-width: 1024px) {
  .batchFrameImg {
    width: 250px;
  }

  .batchFrameFile1 {
    width: 165px;
  }
  
  .batchFrameFile2 {
    width: 182px;
  }
  
  .batchFrameFile3 {
    width: 193px;
  }
}

@media (min-width: 1200px) {
  .batchFrameImg {
    width: 100%;
  }
  .batchFrameFile1 {
    top: 41%;
  }
  .batchFrameFile2 {
    top: 45%;
  }
  .batchFrameFile3 {
    top: 48%;
  }
}
