@use '../../styles/utils/mixins';

.batchFrame {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.batchFrameFile {
  position: absolute;
  // this is necessary to override gsap's value
  transform: translate(-50%, -50%) !important;
  left: 50%;
  margin-top: 22%;
}

@include mixins.breakpoint('d-sm', 'max-width') {
  .batchFrameImg {
    width: 250px;
  }

  .batchFrameFile1 {
    width: 168px;
  }

  .batchFrameFile2 {
    width: 194px;
  }

  .batchFrameFile3 {
    width: 210px;
  }
}

@include mixins.breakpoint('d-md') {
  .batchFrameImg {
    width: 100%;
  }
}
