.featureScanContainer {
  overflow: hidden;
}

.scanImg {
  width: 230px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

@media (min-width: 1024px) {
  .scanImg {
    width: 100%;
    height: 100%;
  }
}
