@use '../../styles/utils/mixins';

.heroSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.heroFeatureWrapper {
  padding-top: var(--features-padding-mobile);
  background-color: var(--color-emptiness);
  max-height: fit-content;
}
@include mixins.breakpoint('d-xs') {
  .heroFeatureWrapper {
    padding-top: var(--features-padding-desktop);
  }
}
