@import '../../styles/utils/mixins';

.heroSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
}
.heroFeatureWrapper {
  padding-top: var(--features-padding-mobile);
  background-color: var(--color-emptiness);
}

@include breakpoint('p-md') {
  .heroSection {
    height: 100%;
  }
}
@include breakpoint('d-xs') {
  .heroFeatureWrapper {
    padding-top: var(--features-padding-desktop);
  }
}
